[submodule "MadLibs"]
	path = MadLibs
	url = https://github.com/jahAtFriends/MadLibs.git
[submodule "ArrayCipher"]
	path = ArrayCipher
	url = https://github.com/jahAtFriends/ArrayCipher
[submodule "OneInAMillion"]
	path = OneInAMillion
	url = https://github.com/jahAtFriends/OneInAMillion.git
[submodule "EyeChart"]
	path = EyeChart
	url = https://github.com/jahAtFriends/EyeChart.git
